<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>

    <h1>Produtos</h1>

    <%- include('./partials/nav.ejs') %> <%- include('./partials/footer.ejs') %>

    <!-- Scripts -->
    <!-- <script src="js/index.js"></script> -->
  </body>
</html>
